@page "/copyrightparam"

<h3>パラメータ付きの子コンポーネントを利用</h3>

<table class="table">
    <tr>
        <td>名前</td>
        <td>@bmi.Name</td>
    </tr>
    <tr>
        <td>身長</td>
        <td>@bmi.Height</td>
    </tr>
    <tr>
        <td>体重</td>
        <td>@bmi.Weight</td>
    </tr>
</table>

<div style="font-size: @fontSize">
    計算結果は @bmi.Bmi.ToString("00.0") です。
</div>

@* 子コンポーネントの呼び出し *@
<BlazorBmi.Components.CopyrightName Name="マスダトモアキ" Year="2030" />

@code {
    private BmiItem bmi = new BmiItem()
    {
        Name = "マスダトモアキ",
        Height = 163.0,
        Weight = 62.0,
    };
    private string fontSize = "32px";
}

